*,*::before,*::after{
    box-sizing: border-box;

}
body{
    margin:0;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

h1{
    font-size: 1.2rem;
}
.page-container{
    display:grid;
    grid-template-rows: auto 1fr auto auto;
    place-items: center;
    grid-gap: 1rem;
    background-color: #222 ;
    color:#ddd;
    min-height: 100vh;
    padding: 2vh 2vw;
}

section{
    text-align: center;
}
.explanation{
    text-align: left;
}

.letter{
    width: 2rem;
    height:2rem;
    font-size: 1.5rem;
    display:flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.letter.shuffled{
    color:#222;
    background-color: yellow;
    border-radius: 4px;
}
.letter.correct{
    color:#222;
    background-color: green;
    border-radius: 4px;
}
.letter.none{
    color:#222;
    background-color: gray;
    border-radius: 4px;
}
.letter.input{
    color:white;
    background-color: black;
    border-radius: 4px;
    /* border: 2px solid red; */
}
button{
    font-size: 1rem;
    color:white;
    font:inherit;
    background-color: black;
    padding: .5rem;
    box-shadow: none;
    border: none;
    border-radius: 5px;
}


.intro{
    display:grid;
    grid-template-columns: max-content max-content;
    grid-gap: 1rem;
    justify-content: center;
}
#input-section{
    display:flex;
    flex-wrap: nowrap;
    gap: .5rem;
    
}

input{
    box-shadow: none;
    border: none;
}

.invalid{
    border: 2px solid red;
}
.infocus{
    border: 2px solid green;

}

#game-board{
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
}

.previous-word{
    display: flex;
    flex-direction: row;
    flex-wrap:nowrap;
    place-items: centered;
    gap:.25rem;
}


/* KEYBOARD */
#onscreen-keyboard{
    display:none;
}

.keyboard{
    color:cyan;
    background-color: #222;
    height:2rem;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}

.keyboard .key{
    flex-grow: 1;
    display:flex;
    justify-content: center;
    align-items: center;
    border:1px solid cyan;

}

.key.gap1{
    flex-grow:.25;
    border:none;
}
.key.gap2{
    flex-grow:.8;
    border:none;
}
.key.enter1{
    flex-grow: 2;
    border-bottom: none;
}
.key.enter2{
    flex-grow: 3;
    border-top:none;
}

@media only screen and (max-width:680px) {
    #onscreen-keyboard{
        width:min(100vw,1000px);
        display:flex;
        flex-direction: column;
        gap:0;
    }
    
}